*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter";
    user-select: none;
}