@font-face {
    font-family: "Montagu";
    src: url("./fonts/Montagu.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat.ttf") format("truetype");
}

@font-face {
    font-family: "Pacifico";
    src: url("./fonts/Pacifico.ttf") format("truetype");
}
@font-face {
    font-family: "Stylescript";
    src: url("./fonts/Stylescript.ttf") format("truetype");
}
